In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Kaggle_Training_Dataset.csv')

In [4]:
df.head()

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,2079834,23,NaN,0,0,0,0,0,0,0,...,0,-99.0,-99.0,0,Yes,No,No,Yes,No,No
1,2079835,2,NaN,0,0,0,0,0,0,0,...,0,-99.0,-99.0,0,Yes,No,No,Yes,No,No
2,2079836,6,NaN,0,0,0,0,0,0,0,...,0,-99.0,-99.0,0,Yes,No,No,Yes,No,No
3,2079837,87,NaN,0,0,0,0,0,0,3,...,0,-99.0,-99.0,0,No,No,No,Yes,No,No
4,2080337,315,NaN,0,0,0,0,0,1,3,...,0,-99.0,-99.0,0,Yes,No,No,No,No,No

In [5]:
df.went_on_backorder.value_counts()

No     1682136
Yes      10914
Name: went_on_backorder, dtype: int64

In [7]:
df.shape

(1693050, 23)

In [9]:
10914/1693050

0.006446354212811199